@import "../../styles/breakpoints.scss";

.temp-diff-factor {
  span {
    margin-left: 27px;
    @include bp-tablet-sm {
      margin-top: -20px;
    }
  }

  .result {
    margin-top: 6px;
    h4 {
      &.heading {
        font-size: 14px;
      }
    }
  }
}
